@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/iconfont.woff') format('woff'), 
  url('../fonts/iconfont.ttf') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:36px;
  color: #666;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e60c"; }
.icon-qqkongjian:before { content: "\e647"; }
.icon-weibo:before { content: "\e748"; }
.icon-qq:before { content: "\e746"; }


.btn-vote-reply button,
.btn-vote-reply button:active,
.btn-vote-reply button:focus, 
.btn-vote-reply button:hover,
.btn-default,
.btn-default:active, 
.btn-default:focus, 
.btn-default:hover{   
    outline:none !important;
    width:44px;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 0px;
    color: #666;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav> .open> a:hover{
background: transparent;
}
.navbar-inverse .hoverwhite>li:hover{
  background: #e5e5e5;
}
.navbar-inverse .navbar-brand {
    color: #444;
}
.btn-file {
  position: relative;
  overflow: hidden;
  width:100px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  margin-top: 0px;
}
.anchor{
  display: block;
  height: 40px; /*same height as header  for search id*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}
ul.articles-title-sidebar {
    position: fixed; 
    margin-top: -10px;
    background: #FFF68F;
    font-style: italic;
    }

.articles-title-sidebar>li>a {
    border-radius: 0px;
    padding: 5px 15px;
    color: #444;
}

.articles-title-sidebar>li>.active>a:focus,.articles-title-sidebar>li>.active>a:hover,.articles-title-sidebar>li.active>a,.articles-title-sidebar>li>a:focus {
    background: #f5da55;
    border-left: 3px solid #444;
    color: #444; 
}
.control-label{
  padding-top: 7px;
}
.inline-block{
  display: inline-block;
}
.modal-content{
    width: 440px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -220px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    border-radius: 3px;
    padding-bottom: 32px;
}
.width100{
  width:100%;
}
.hot-tabs {
	  font-size: 16px;
	  line-height: 20px;
    height: 41px;
    padding-left:0px;
    width:100%;
    margin-bottom: 0px;

}
.hot-tabs li {
    font-weight: bold;
	  list-style-type: none;
	  text-align: center;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 41px;
    padding-top: 12px;
    border: 2px solid #e5e5e5;
    border-top:0px;
    background-color: #e5e5e5;
}
.hot-list-item {
    display: none;
}
.hot-list-item-current{
	display: block;
}
.bule-line-top {
    border-top: 2px solid #444;
}
.hot-tabs li.current {
    background: #fff;
    border-bottom: 0;
}
.show-tags{
	float: left;
}
.width480{
	width:480px;
}
.side-bar-hot-img{
	width: 100%;
  cursor: pointer;
}
.side-bar-hot{
	position: relative;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
}
.side-bar-hot-full-size{
	max-height: 100%;
}
.side-bar-hot-text-full-size{
	display: none;
}
.show_more {
    background-color: #000000;
    bottom: 0px;
    color: #ffffff;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    text-align: center;
}
#side-bar-ad img{
	max-width:100%;
}

.col-md-7{
	margin-top:-10px;
}
.col-md-4{
  margin-top:-10px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-nav>li>a{
	padding-bottom: 6px;
}
#back-to-top{
    width: 52px;
    height: 132px;
    background: url(/images/catalog/backtop.png) no-repeat;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#side-bar-ad{
	margin-top: 10px;
}
.btn-side-bar li {
	list-style: outside none none;
}
.form-control-nav{
	width: 90px;
}
.form-control-search{
	width: 200px;
}
.bds_weixin{
	color : red;
}
.form-control{border-radius: 10px;
	 margin-top: 7px;
	 margin-bottom: 7px;
}
strong{
	color:#444;
}
.btn-default{
	background-color: #fff;
  width: 44px;
}
.remove-padding-horizontal {
  padding-bottom: 0px;
  padding-top: 0px;
}
.btn-lg{
	width: 80px;
}
h3:hover{
	color: #f5da55;
}
a:hover{
    text-decoration: none;
}
h3 {
    color: #444;
    font-size: 20px;
    margin-top: 10px;
}
.inner-addon { 
    position: relative; 
}
.video_wrap{
	 position: relative;
	 width:480px;
   cursor: pointer;
}
.video_wrap>h2{
	opacity:0.9;
	margin-left: -30px;
	margin-top: -30px;
    left: 50%;
    top: 50%;	
	position: absolute;
}
.badge-notification-count{
    border-radius: 10px;
    background-color: #444;
    padding: 3px 7px;
    color: #f5da55;
}
.clearfix{
	clear:both;
}
.btn-vote-reply li {
	float:left;
	list-style: outside none none;
	margin:0 10px 0 0;
	padding-top: 11px;
}
.btn-vote-reply{
     padding:0;
}
.oauth-wrap li {
  float:left;
  list-style: outside none none;
  margin:0 10px 0 0;
}
.oauth-wrap{
    padding:0;
}
.video_text {
    background: #222 none repeat scroll 0 0;
    border: 6px solid #f5da55;
    border-radius: 35px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    color: #f5da55;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    text-align: center;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .glyphicon { right: 0px;}
.right-addon input { padding-right: 10px; }
.error { font-weight: bold; color: red; }
body {
    padding-top: 50px;
    font-family: Helvetica Neue, "Microsoft YaHei", Arial, sans-serif;
    color: #444;
}

.btn-lg-create{
	background-color: #f5da55;
	border: 0px solid #444;
	width: 200px;
  font-size: 18px;
}
.container {
    margin-top: -10px;
}
.page {
    width: 1100px;
}
.not_favorited{
	color: black;
	height: 44px;
}
.not_favorited:hover{
	color: red;
	height: 44px;
}

//navbar search
.mac-style {
    margin-top: 10px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
 }
.mac-style:focus{
    width: 400px;
}
.navbar {
	min-height: 32px;
    height: 32px;}
.long-post-wrap{
	position: relative;
}
.width485{
    width: 485px;
}
.post-read-more {
    background: #f4f4f4;
    display: block;
    font-weight: 700;
    bottom: 0;
    width: 480px;
    height: 44px;
    text-align: left;
    padding: 0 20px 0 44px;
    line-height: 44px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-sizing: border-box;
    position: absolute;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#slider {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slides .inner {
  width: 400%;
}

#slides .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides article {
  width: 25%;
  float: left;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slider input[type="radio"] {
  display: none;
}

#slider label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

#slide1:checked ~ label[for="slide1"],
#slide2:checked ~ label[for="slide2"],
#slide3:checked ~ label[for="slide3"],
#slide4:checked ~ label[for="slide4"] {
  background: #333;
}

.guestbook table {
  border: 2px solid #f5da55;
  border-radius: 5px;
  background-color: #fff;
}

.guestbook th {
  background-color: #f5da55;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
  width: 100%;
}

.guestbook td {
  background-color: #f9f9f9;
}

.guestbook th{
	min-width: 300px;
  padding: 8px 16px;
}
.guestbook td {
	min-width: 300px;
  padding: 8px 16px;
}

.guestbook th.active {
  color: #fff;
}

.guestbook th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.navbar-inverse {
  background-color: #f5da55;
    opacity: 0.90;
} 
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #444;
}
.avatar-container {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    /* overflow: hidden; */
    position: absolute;
    left: 50%;
    margin-left: -50px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}
.avatar-container img{
    width:100%;
    height:100%;
}
.profile-header {
    position: relative;
    color: #fff;
    background-color: #222;
    width: 1366;
    height: 270px;
}
.avatar-container-nav{
    display: block;
    height: 31px;
    width: 31px;
    background-color: rgba(255,255,255,.2);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    opacity: 0.90;
}
.avatar-container-nav img{
    width: 100%;
    height: 100%;
}

a {
    color: #444;
    text-decoration: none;
}
a:hover{
  color: #f5da55;
}

.comment-avatar {
    float: left;
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.comment-avatar img{
    width: 100%;
    height: 100%;
}
.show-reply-vote-count{
      position: absolute;
    left: 20px;
    margin-top: 7px;
}
.comment-content{
    font-size: 15px;
    line-height: 1.6em;
}
.comment-info{
  margin-left: 60px;
  padding-bottom: 10px;
}
.noti-comment-info{
  display: table;
  margin-left: 60px;
  height: 45px;
}
.noti-comment-info-middle{
display: table-cell;vertical-align: middle;
}
.vote-reply-view-count{
  margin-top: 10px;
  margin-bottom: 10px;
}
.index-article-title{
  font-weight: bold;
  min-height: 25px;
  margin-top: 0px;
  font-size: 20px;
}

body > footer{
    border-top: 1px solid #c1e1ec;
    height: 50px;


}
body > footer > p{
    line-height: 50px;
    margin-bottom: 0;
}

#guestbook > img{
  width: 100%;
}
.sidebarful-label{
  position: absolute;
  top: 40px;
  right: 10px;
}
.show-upvote{
  font-size: 15px;
}
.list-unstyled{
  list-style: none;
}